[build]
builder = "nixpacks"

[deploy]
startCommand = "npm run build && npm run start"

[build.environment]
NODE_ENV = "production"
NPM_CONFIG_PRODUCTION = "false"

[build.install]
  [build.install.npm]
    includeDevDependencies = true
    nodeVersion = "18"
    cache = true

[build]
  command = "npm run build"
